<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="css/adminIndex.css" />
<section
  class="row gx-5 mx-0 mx-lg-5 overflow-y-auto no-scrollbar min-height-100-vh pb-5"
>
  <section class="bg-light rounded px-0">
    <!--* Begin Intrapage navbar -->
    <nav class="navbar navbar-expand-lg bg-body-secondary">
      <div class="container-fluid">
        <!-- <p class="navbar-brand">Test</p> -->
        <a class="navbar-brand" href="#">Admin Panel</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#adminNavbarNav"
          aria-controls="adminNavbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="adminNavbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <button class="nav-link btn btn-light adminNavButton application-target active">
                Membership Applications
              </button>
            </li>
            <li class="nav-item">
              <button class="nav-link btn btn-light adminNavButton event-target">
                Events
              </button>
            </li>
            <li class="nav-item">
              <button class="nav-link btn btn-light adminNavButton member-target">
                Members
              </button>
            </li>
            <li class="nav-item">
              <button class="nav-link btn btn-light adminNavButton user-target">
                Site Users
              </button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Nav ================================================================================-->

    <!--! Notes: -->
    <!-- We'll code each of the thing the admin should be able to see here, rendering dynamically in EJS -->
    <!-- Everything will be hidden via CSS with the d-none class or some such -->
    <!-- When a user clicks on one of the above nav buttons, it will remove the class -->
    <!-- When another button is clicked, the class will be readded, and removed from the relevant button/section clicked, etc -->

    <!-- Other option is to generate the html dynamically with JS -->
    <!-- This may not work with the dynamic data calls and the serverside data generation, etc -->
    <!-- Will probably be more work too... -->

    <!--? Membership Applications -->
    <section class="data-sections application-target">
      <% if (!data.applications) {%>

        <h1 class="display-2">Database Lookup Failed</h1>

      <% } else if (data.applications.length === 0) { %>

        <h1 class="display-2">There are currently no applications</h1>

      <% } else { %>
        <h1 class="display-2 m-3 mb-5 border-bottom">Applications</h1>
        <div class="container d-flex justify-content-evenly flex-wrap">

        

      <!-- Displays Applications -->
        <% for (let app of data.applications) { %>
          <div class="card mb-5 shadow" style="width: 18rem;">
  
            <div class="card-body">
              <h5 class="card-title"><strong><%= app.companyName %></strong></h5>
              <p class="card-text"><%= app.descriptionOfBusiness %></p>
              <p class="card-text"><strong>Affiliations:</strong> <%= app.affiliations %></p>
              <p class="card-text"><strong>Rep:</strong> <%= app.representative %></p>
              <p class="card-text"><%= app.address %>, <%= app.city %>, <%= app.state %> <%= app.zip %></p>

            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><%= app.email %></li>
              <li class="list-group-item"><%= app.phone %></li>
              <li class="list-group-item"><%= app.companyType %></li>
              <li class="list-group-item"><%= app.annualContribution %> yearly pledge.</li>
              <li class="list-group-item"><a href="<%= app.website %>" class="card-link text-decoration-underline"><%= app.website %></a></li>
            </ul>
            <div class="card-footer text-body-secondary">
                Submitted <%= app.formattedDate %> by <%= app.submittedBy %>, <%= app.submitterTitle %>
                <hr />
                <div class="mb-1">
                  <form class="delete-document-form" action="/membership/application/<%= app.id %>?_method=DELETE" method="post">
                    <button class="btn btn-sm btn-danger delete-document-button" type="submit">Delete</button>
                  </form>
                </div>
            </div>

          </div>
          
          <% } %> 
        </div>
       
      <% } %>
    </section>

    <!--? Members  -->
    <section class="data-sections member-target d-none">
      <% if (!data.members) {%>

        <h1 class="display-2">Database Lookup Failed</h1>

      <% } else if (data.members.length === 0) { %>

        <h1 class="display-2">There are currently no members.</h1>

      <% } else { %>
        <h1 class="display-2 m-3 mb-5 border-bottom">Members</h1>
        <div class="d-flex justify-content-start flex-wrap">
          <% for (let member of data.members) {%>
            <div class="card mb-5 mx-3 shadow">
              <div class="card-body">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><strong>Name:</strong> <%= member.name %></li>
                  <% if ( member.href.length  === 0 ) { %>
                    <li class="list-group-item"><strong>Website:</strong> None Provided</li>
                  <% } else {%>
                    <li class="list-group-item"><strong>Website:</strong> <a class="text-decoration-underline" href="<%= member.href %>"><%= member.href %></a></li>
                  <% } %>
                </ul>
                <form class="delete-document-form text-end" action="/membership/post-new-member/admin/<%= member.id %>?_method=DELETE" method="post">
                  <button class="btn btn-sm btn-danger delete-document-button" type="submit">Delete</button>
                </form>
              </div>
            </div>
          <% } %>




        </div>

        
      <% } %>
    </section>

    <!--? Events -->
    <section class="data-sections event-target d-none">
      <% if (!data.events) {%>

        <h1 class="display-2">Database Lookup Failed</h1>

      <% } else if (data.events.length === 0) { %>

        <h1 class="display-2">There are currently no events.</h1>

      <% } else { %>
        <h1 class="display-2 m-3 mb-5 border-bottom">Events</h1>


      <% } %>
    </section>

    <!--? Users -->
    <section class="data-sections user-target d-none">
      <% if (!data.users) {%>

        <h1 class="display-2">Database Lookup Failed</h1>

      <% } else if (data.users.length === 0) { %>

        <h1 class="display-2">There are currently no users.</h1>

      <% } else { %>
        <h1 class="display-2 m-3 mb-5 border-bottom">Users</h1>

        <div class="container d-flex justify-content-start flex-wrap">
        <% let modalIndex = 0; %>
        <!--? Displaying Admins  -->
        <% for (let user of data.users) { %>
          <% if (user.role === 'admin') {%>
            <div class="card mx-3 mb-3" style="width: 18rem;">
              <div class="card-body d-flex flex-column align-items-between">
                <h5 class="card-title"><strong>User:</strong> <%= user.username %></h5>
                <h6 class="card-subtitle mb-2 text-body-secondary"><%= user.role %></h6>

                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Name: <%= user.firstName %> <%= user.lastName %></li>
                  <li class="list-group-item">Email: <%= user.email %></li>
                  <li class="list-group-item">Company: <%= user.company %></li>
                </ul>
                <div class="mt-auto">
                  <button class="modal-button btn btn-info" data-modal-index-number="<%= modalIndex %>">Actions Log</button>
                  
                </div>
                <% modalIndex++; %>
                

                
              </div>
            </div>

            <!--? Admin Audit Log Dialog -->
            <!-- Controlled through the js/admin/modal.js file -->
            <% if (user.role === 'admin') { %>
              <dialog class="dialog">
                <% if (user.actionsLog.length === 0) { %>
                  <p class="lead">There is no data to display</p>                
                <% } else {%>
                  <% for (let i = 0; i < user.actionsLog.length; i++) { %>
                    <p class="lead max-text-width">Log <%= i + 1 %>: <%= user.actionsLog[i] %></p>
                  <% } %>
                <% } %>
              </dialog> 
            <% } %>
          <% } %>
        <% } %>

        <!--? Displaying Users  -->
        <% for (let user of data.users) { %>
          <% if (user.role === 'user') {%>
            <div class="card mx-3 mb-3" style="width: 18rem;">
              <div class="card-body d-flex flex-column align-items-between">
                <h5 class="card-title"><strong>User:</strong> <%= user.username %></h5>
                <h6 class="card-subtitle mb-2 text-body-secondary"><%= user.role %></h6>

                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Name: <%= user.firstName %> <%= user.lastName %></li>
                  <li class="list-group-item">Email: <%= user.email %></li>
                  <li class="list-group-item">Company: <%= user.company %></li>
                </ul>

                <div class="mt-auto">
                  <!--? Promote to Admin Form -->
                  <form class="mb-3 delete-document-form" action="/admin/promote-to-admin/<%= user._id %>?_method=PATCH" method="post"><button class="btn btn-sm btn-warning delete-document-button" type="submit">Promote to Admin</button></form>
                  <!--? Delete User Form -->
                  <form class="delete-document-form" action="/admin/delete-user/<%= user._id %>?_method=DELETE" method="post"><button class="btn btn-sm btn-danger delete-document-button" type="submit">Delete Account</button></form>
                </div>
              </div>
            </div>

            <!--? Admin Audit Log Dialog -->
            <!-- Controlled through the js/admin/modal.js file -->
            
          <% } %>
        <% } %>
        </div>  

      <% } %>
    </section>

    <section class="data-sections event-target d-none d-flex justify-content-center">
      <% if (!data.users) {%>

        <h1 class="display-2">Database Lookup Failed</h1>

      <% } else if (data.users.length === 0) { %>

        <h1 class="display-2">There are currently no users.</h1>

      <% } else { %>
        <section class="container d-flex flex-wrap justify-content-evenly">
        <% for (let event of data.events) {%>
          <div class="card mb-5" style="width: 18rem;">
            <img src="<%= event.image.url %>" class="card-img-top border" alt="Event card image header">
            <div class="card-body">
              <!--? Name -->
              <h5 class="card-title"><%= event.name %></h5>
              <!--? Price -->
              <% if (event.priceInCents === 0) { %>
                <p class="card-text lead">Free Event</p>
              <% } else { %>
                <p class="card-text lead"><%= event.formattedPrice %></p>
              <% } %>
              
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        <% } %>
        </section>
      <% } %>



</section>

<script src="js/admin/adminIndex.js"></script>
<script src="js/deleteDocumentConfirmation.js"></script>
<script src="js/admin/modal.js"></script>