<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/events.css" />
<link rel="stylesheet" href="/css/buttons.css" />
<!-- <script src="https://www.google.com/recaptcha/api.js" async defer></script> -->

<section
  class="row gx-5 mx-0 mx-lg-5 overflow-y-auto no-scrollbar min-height-100-vh pb-5"
>
  <section class="bg-light rounded px-0">
    <header id="header" class="position-relative">
      <!--TODO Upload this image to Cloudinary and set crossorigin="anonymous" attribute  -->
      <img
      id="hero-image"
        class="img-fluid rounded shadow-lg mx-auto w-100"
        src="https://res.cloudinary.com/dypchgtip/image/upload/v1710290188/crowd_mfvwvn.jpg"
        crossorigin="anonymous"
        alt="Hero Image showing Rod Wilt speaking at a local PNDC event"
        title="Our members at a recent Economic Summit event"
      />
      <!-- <img
      id="hero-image"
        class="img-fluid rounded shadow-lg mx-auto w-100"
        src="https://res.cloudinary.com/dypchgtip/image/upload/v1710277043/crowd1_qhgoxj.jpg"
        crossorigin="anonymous"
        alt="Hero Image showing Rod Wilt speaking at a local PNDC event"
        title="Rod Wilt speaking at a local PNDC event"
      /> -->
      <h1
        class="animate__animated animate__fadeInDown position-absolute top-0 start-0 display-1 ff-4 h1-heading-margin-top mb-3 text-center w-100 text-light"
      >
        Upcoming Events
      </h1>

      <div
        id="call-to-action-button-div"
        class="position-absolute top-0 w-100 d-flex justify-content-center"
      >
        <a
          href="#intro-header"
          id="call-to-action-button"
          class="rounded btn-background-slide my-4 d-none d-md-flex ff-4"
        >
          Click to Explore!
          <i class="gg-arrow-right d-inline-block"></i>
          <div
            class="text-light btn-background-slide--blue btn-background-slide-bg"
          ></div>
        </a>
      </div>
    </header>
    <p class="text-end me-3">
      <small>Photo Credit: <a
        class="text-decoration-underline"
        href="https://workwithclever.com/"
        target="_blank"
        >Clever Marketing</a>
      </small>
    </p>

    <main class="pb-5 d-flex flex-column align-items-center">
      <header class="text-center d-flex flex-column align-items-center">
        <h2 id="intro-header" class="display-5 mt-5">
          Connecting Mercer County Business and Development
        </h2>
        <p class="lead mt-3 max-text-width">
          Discover upcoming events that showcase Mercer County's vibrant business and development scene.
        </p>
      </header>

      <!--? CREATE NEW EVENT ADMIN FORM -->
      <!--* CREATE NEW EVENT ADMIN FORM -->
      <!--* CREATE NEW EVENT ADMIN FORM -->
      <!--* CREATE NEW EVENT ADMIN FORM -->
      <% if (currentUser && currentUser.role === 'admin') {%>

      <div id="event-creation-card" class="card">
        <div class="card-body">
          <form
            id="add-event-form"
            class="row"
            action="/events"
            method="post"
            enctype="multipart/form-data"
          >
            <!--? Event name and price -->
            <div class="mb-3 col-lg-6">
              <label for="name" class="form-label">Event Name</label>
              <input
                type="text"
                class="form-control"
                name="event[name]"
                id="name"
                required
              />
            </div>
            <div class="mb-3 col-lg-6">
              <label for="price" class="form-label">Price</label>
              <input
                type="number"
                class="form-control"
                id="price"
                name="event[priceInCents]"
                min="0"
                step="0.01"
                aria-describedby="priceHelp"
                required
              />
              <div id="priceHelp" class="form-text">
                Enter number in form dollar.cents. Eg. 9.95
              </div>
            </div>

            <!--? Date/Time -->
            <div class="mb-3 col-lg-4">
              <label for="date" class="form-label">Enter event date</label>
              <input
                class="w-100 form-control"
                type="date"
                name="event[dates]"
                required
              />
            </div>
            <div class="mb-3 col-lg-4">
              <label for="time" class="form-label">Start Time</label>
              <input
                class="form-control"
                name="event[startTimes]"
                type="time"
                required
              />
            </div>
            <div class="mb-3 col-lg-4">
              <label for="time" class="form-label">End Time</label>
              <input
                class="form-control"
                name="event[endTimes]"
                type="time"
                required
              />
            </div>
            <!-- <div
              class="mb-3 col-sm-1 d-flex align-items-end delete-date-button"
            >
              <button class="btn btn-danger delete-date-button">Delete</button>
            </div> -->

            <!--? Add date/time button and appending row -->
            <div id="dateAppendingDiv" class="row"></div>
            <div class="mb-3 col-lg-12 d-flex justify-content-center">
              <button id="addDateButton" class="btn btn-outline-success">
                Click to add another date/time.
              </button>
            </div>

            <!--? Photo Upload and Location -->
            <div class="mb-3 col-lg-6">
              <label for="formFile" class="form-label"
                >Event Header Photo</label
              >
              <input
                class="form-control"
                type="file"
                id="formFile"
                name="eventImage"
              />
              <div id="photoHelp" class="form-text">
                Maximum Filesize 10MB. Accepted Filetypes: .jpg .jpeg .png
              </div>
            </div>
            <div class="mb-3 col-lg-6">
              <label for="location" class="form-label">Location</label>
              <input
                class="form-control"
                name="event[location]"
                type="text"
                placeholder="123 Main St. Sharon, PA"
                required
              />
            </div>

            <!--? Description -->
            <div class="mb-3 col-lg-12">
              <label for="description" class="form-label"
                >Event Description</label
              >
              <textarea
                class="form-control"
                name="event[description]"
                id="description"
                rows="3"
                required
              ></textarea>
            </div>

            <!--? Bullet List Event Descriptors  -->
            <div class="mb-3 col-lg-12">
              <label class="form-label">Bullet point descriptor</label>
              <input
                type="text"
                name="event[bulletPoints]"
                class="form-control"
                placeholder="Add a short event descriptor."
              />
            </div>

            <!--? bulletPoints button and appending row -->
            <div id="bulletPointsAppendingDiv" class="row"></div>
            <div class="mb-3 col-lg-12 d-flex justify-content-center">
              <button
                id="bulletPointsButton"
                class="btn btn btn-outline-success"
              >
                Click to add another bullet point.
              </button>
            </div>

            <button class="btn btn-primary" type="submit">Submit</button>
          </form>
        </div>
        
      </div>

      <% } %>

      <!--* Vertical Rule -->
      <div class="d-flex justify-content-center my-3" style="height: 12.5rem">
        <div class="vr"></div>
      </div>

      <!--* All events section -->
      <section class="container-fluid px-0 px-sm-auto">
        <!--! Database Lookup Failure Logic -->
        <% if (eventFailure) { %>
          <div class="col-12 flex justify-content-center">
            <h1 class="text-center">Database Connection Error.</h1>
          </div>
        <% } else if (events.length === 0) {%>
          <!--*  -->
          <div class="col-12 flex justify-content-center">
            <h1 class="text-center display-2 mb-4">There are no upcoming events.</h1>
          </div>
        <% } else { %>
        <!--* Begin event creation -->
          <% for (let event of events) {%>
            <section class="row d-flex justify-content-center mx-0 mx-sm-5 event-deletion-target">

              <!--* Individual Event Card ----------------------------------------------------------------------->
              <section class="row shadow-lg rounded">

                <aside class="col-xl-6 mt-3 d-flex flex-column align-items-center py-5">
                  <img
                    crossorigin="anonymous"
                    class="img-fluid rounded shadow-sm event-image mb-4"
                    src="<%= event.image.url %>"
                    alt="<%= event.name %> Event Image"
                  />
                  <ul class="list-group list-group-flush text-center">
                    <% for (let listItem of event.bulletPoints) {%>
                      <li class="list-group-item bg-light"><%= listItem %></li>
                    <% } %>
                  </ul>
                  <!--! Delete Event Route  -->
                  <% if (currentUser && currentUser.role === 'admin') {%>
                    <form class="mt-5 delete-document-form" action="/events/<%= event._id %>?_method=DELETE" method="post">
                      <button class="btn btn-danger delete-document-button" type="submit">Delete Event</button>
                    </form>
                  <% } %>
                </aside>
    
                <!--* Buy Ticket Card -------------------------------------------------------------------->
                <article class="col-xl-6 mt-3 d-flex flex-column align-items-center py-5 px-0 px-sm-5">
                  <div class="card text-center shadow w-100">
                    <div class="card-header">
                      <h3 class="display-6"><%= event.name %></h3>
                    </div>
                    <div class="card-body d-flex flex-column align-items-center">
                      <!--? Price -->
                      <% if (event.priceInCents === 0) {%>
                        <h4 class="card-title">Free Event</h4>
                      <% } else {%>
                        <h4 class="card-title"><%= event.formattedPrice %></h4>
                      <% } %>
    
                      <!--? Description -->
                      <p class="card-text lead my-3">
                        <%= event.description %>
                      </p>
    
                      
                      <!--? Signup Forms ----------------------------------------------------------->
                      <% if (event.priceInCents === 0) {%>
                        <!--! FREE EVENT FORM ======================================================================-->
                        <form action="/events/register-free-event" method="post" class="w-100 d-flex flex-column align-items-center border pb-3 rounded">
                          <p class="mt-3"><strong>Choose Date and Time for Event Attendance:</strong></p>
                          

                          <!--? Honeypot Field -->
                          <input class="d-none" type="text" name="honeypot">
                          <!--? Event ID Input -->
                           <input class="d-none" type="text" name="attendant[id]" value="<%= event.id %>">
                           <!--? Attendant Date/Time Radio Buttons -->
                           <% for (let i = 0; i < event.dates.length; i++) {%>
                            <div class="form-check text-center">
                              <input class="form-check-input" type="radio" name="attendant[dateTime]" value="<%= event.formattedStartTimes[i] %> - <%= event.formattedDates[i] %>" required>
                              <label class="form-check-label" >
                                <%= event.formattedDates[i] %> &mdash; <%= event.formattedStartTimes[i] %> - <%= event.formattedEndTimes[i] %>
                              </label>
                            </div>
                          <% } %>
                          <input type="text" class="d-none" name="attendant[ticketQuantity]" value="1">

                          <div class="row w-100 mt-3">
                            <!--? Name -->
                            <div class="col-xxl-6 mb-3">
                              <div class="input-group">
                                <span class="input-group-text" id="free-name-addon">Name</span>  
                                <input name="attendant[name]" type="text" class="form-control" id="freeAttendantName" aria-label="Attendant Name" aria-describedby="free-name-addon" required>
                              </div>
                            </div>
                            <!--? Email -->
                            <div class="col-xxl-6 mb-3">
                              <div class="input-group">
                                <span class="input-group-text" id="free-email-addon">Email</span>  
                                <input name="attendant[email]" type="email" class="form-control" id="freeAttendantEmail" aria-label="Attendant Email" aria-describedby="free-email-addon" required>
                              </div>
                            </div>
                          </div>

                          <!--? reCaptcha -->
                          <!-- TODO Remove Recaptcha -->
                          <!-- <div class="g-recaptcha my-3" data-sitekey="<%= process.env.RECAPTCHA_FRONTEND_KEY %>" data-callback="onSubmit"></div> -->

                          <!--? Submit Button -->
                          <button id="free-event-submit-button" class="btn btn-success mt-3 mb-1">Click to Register</button>
                        </form>
                      <% } else if (event.priceInCents > 0) {%>
                        <!--! PAID EVENT FORM ======================================================================-->
                        <form id="checkout-form" action="/events/create-checkout-session" method="post" class="w-100 d-flex flex-column align-items-center border pb-3 rounded">
                          <p class="mt-3"><strong>Choose Date and Time for Event Attendance:</strong></p>
                          
                          <!--? Event ID Input -->
                          <input class="d-none" type="text" name="attendant[id]" value="<%= event.id %>">

                          <!--? Attendant Date/Time Radio Buttons -->
                          <% for (let i = 0; i < event.dates.length; i++) {%>
                            <div class="form-check text-center">
                              <input class="form-check-input" type="radio" name="attendant[dateTime]" value="<%= event.formattedStartTimes[i] %> - <%= event.formattedDates[i] %>" required>
                              <label class="form-check-label" >
                                <%= event.formattedDates[i] %> &mdash; <%= event.formattedStartTimes[i] %> - <%= event.formattedEndTimes[i] %>
                              </label>
                            </div>
                          <% } %>
                          
                          <!--? Attendant Number of Tickets  -->
                          <div class="my-3">
                            <label for="tickets" class="form-label"><strong>Choose number of tickets</strong></label>
                            <input
                              type="number"
                              class="form-control"
                              id="tickets"
                              name="attendant[ticketQuantity]"
                              min="1"
                              step="1"
                              value="1"
                              required
                            />
                          </div>

                          <!--? Attendant Name and Email -->
                          <div class="row w-100">
                            <!--? Name -->
                            <div class="col-xxl-6 mb-3">
                              <div class="input-group">
                                <span class="input-group-text" id="name-addon">Name</span>  
                                <input name="attendant[name]" type="text" class="form-control" id="attendantName" aria-label="Attendant Name" aria-describedby="name-addon" required>
                              </div>
                            </div>
                            <!--? Email -->
                            <div class="col-xxl-6 mb-3">
                              <div class="input-group">
                                <span class="input-group-text" id="email-addon">Email</span>  
                                <input name="attendant[email]" type="email" class="form-control" id="attendantEmail" aria-label="Attendant Email" aria-describedby="email-addon" required>
                              </div>
                            </div>
                          </div>
                          <button class="btn btn-success mt-3 mb-2">Checkout</button>
                        </form>

                      <% } %>
    
                    </div>
                    <div class="card-footer text-body-secondary"><%= event.location %></div>
                  </div>
                </article>
              </section>
            </section>

            <!--* Vertical divider -->
            <div class="d-flex justify-content-center my-5 event-deletion-target" style="height: 12.5rem">
              <div class="vr"></div>
            </div>
          <% } %> 
          
          
          
        <% } %>

        <!--* End event creation ------------------------------------------------------------------------------>

        <!-- https://www.penn-northwest.com/wp-content/uploads/2023/07/Imparo-logo-final-large-1.png -->

        

        <div class="w-100 d-flex justify-content-center">
          <p class="lead align-self-center text-center max-text-width">Stay tuned! We're constantly updating our events page with exciting new happenings. Make sure to check back often so you don't miss out on any of the fun. See you soon!</p>
        </div>
      </section>
    </main>
  </section>
</section>

<script src="/js/events/addDateTime.js"></script>
<script src="/js/events/addBulletPoint.js"></script>
<script src="/js/deleteDocumentConfirmation.js"></script>
