<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/membership.css" />
<link rel="stylesheet" href="/css/scrollin.css" />
<!-- <script src="https://www.google.com/recaptcha/api.js" async defer></script> -->


<section
  class="row gx-5 mx-0 mx-lg-5 overflow-y-auto no-scrollbar min-height-100-vh pb-5 rounded"
>
  <main class="bg-light">
    <!--! Membership Buttons -->
    <section id="membership-buttons" class="row mb-5 pt-3 pb-5">
      <!--? Every element in each article has the same class, so that the link will trigger in JS no matter which element is clicked -->
      <!--* Incentives -->
      <article
        class="incentives-link-anchor col-lg-4 p-3 d-flex flex-column align-items-center mb-5 mb-lg-0 bottom-shadow rounded no-hover-shadow"
      >
        <a
          class="incentives-link-anchor header-links w-90 d-flex flex-column align-items-center"
        >
          <img
            class="incentives-link-anchor img-fluid mw-95 rounded border border-warning shadow-lg mb-5"
            src="https://res.cloudinary.com/dypchgtip/image/upload/v1710289019/obrien-construction_wed2ms.jpg"
            crossorigin="anonymous"
            alt="Picture of the Obrien Construction Award Winners"
            title="Membership Incentives - Obrien Construction Award Winners"
          />
          <button
            href=""
            class="incentives-link-anchor btn btn-primary bg-orange-2 border border-0"
          >
            <h2 class="incentives-link-anchor display-6 text-light">
              Membership Incentives
            </h2>
          </button>
        </a>
      </article>

      <!--* Become a Member -->
      <article
        class="signup-link-anchor col-lg-4 px-3 py-5 d-flex flex-column align-items-center mb-5 mb-lg-0 bottom-shadow rounded no-hover-shadow"
      >
        <a
          id="become-a-member"
          class="signup-link-anchor header-links w-90 d-flex flex-column align-items-center"
        >
          <img
            class="signup-link-anchor img-fluid mb-5 rounded border border-primary shadow-lg"
            src="https://res.cloudinary.com/dypchgtip/image/upload/v1710289715/golf-members_laocfa.jpg"
            crossorigin="anonymous"
            alt="Become a member - a photo of our members on a golf outing"
            title="Become a member - our members on a golf outing"
          />
          <button
            href=""
            class="signup-link-anchor btn btn-primary bg-true-blue border border-0 "
          >
            <h1 class="signup-link-anchor display-5">Become a Member!</h1>
          </button>
        </a>
      </article>

      <!--* Our Members -->
      <article
        class="member-list-link-anchor col-lg-4 p-3 d-flex flex-column align-items-center mb-5 mb-lg-0 bottom-shadow rounded no-hover-shadow"
      >
        <a
          class="member-list-link-anchor header-links w-90 d-flex flex-column align-items-center"
        >
          <img
            class="member-list-link-anchor img-fluid mb-5 mw-95 rounded border border-warning shadow-lg"
            src="https://res.cloudinary.com/dypchgtip/image/upload/v1710277043/crowd1_qhgoxj.jpg"
            alt="Rod Wilt addressing a room full of PNDC members"
            title="Our Members - Rod Wilt giving a presentation to our members"
          />
          <button
            href=""
            class="member-list-link-anchor btn btn-success bg-orange-2 border border-0"
          >
            <h2 class="member-list-link-anchor display-6 text-light">
              Our Members
            </h2>
          </button>
        </a>
      </article>
    </section>
 

    <!--! Membership Incentives -->
    <section
      id="membership-incentives"
      class="py-lg-5 d-flex flex-column align-items-center"
    >
      <header class="container text-center">
        <!--* Header and underline svg (contained within the <div>) -->
        <h1 class="display-5">
          Unlock Your
          <div class="underline-container">
            Potential
            <svg
              id="underline-svg"
              class="underline-svg"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 500 2"
            >
              <!--* Underline 1 -->
              <path
                d="M5,0 Q250,1 495,0"
                fill="none"
                stroke="#fb5607"
                stroke-width="8"
              ></path>
            </svg>
            <svg
              id="underline-svg-2"
              class="underline-svg"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 500 2"
            >
              <!--* Underline 1 -->
              <path
                d="M5,0 Q250,1 495,0"
                fill="none"
                stroke="#fb5607"
                stroke-width="8"
              ></path>
            </svg>
          </div>
          with a Penn-Northwest Membership
        </h1>
        <!--  -->
        <!-- Form: https://www.penn-northwest.com/economic-development/ -->
      </header>

      <div class="text-primary w-75 my-3">
        <hr />
      </div>

      <!--* Membership Incentive Cards -->
      <section class="row container mt-3 mb-5">
        <!--* Article 1 -->
        <article class="col-xl-4 d-flex flex-column align-items-center mb-5">
          <div class="card">
            <div class="card-body">
              <h5
                class="card-title ff-2 font-size-5 text-center mb-3 border-bottom"
              >
                Amplify Your Network
              </h5>
              <p class="card-text lead">
                Gain access to a powerful network of influential business
                leaders, industry experts, and like-minded professionals in
                Mercer County.
              </p>
              <p class="card-text lead">Penn-Northwest provides exclusive:</p>

              <ul class="list-group list-group-flush">
                <li class="list-group-item ff-2">Networking Events</li>
                <li class="list-group-item ff-2">Seminars</li>
                <li class="list-group-item ff-2">
                  Collaboration Opportunities
                </li>
                <li class="list-group-item ff-2">Strategic Partnerships</li>
                <li class="list-group-item ff-2">New Business Prospects</li>
              </ul>
              <!--? Saving the below for potential use later -->
              <!-- <p class="card-text text-center">Gain access to a powerful network of influential business leaders, industry experts, and like-minded professionals in Mercer County. 
                Penn-Northwest provides exclusive networking events, seminars, and collaboration opportunities that pave the way for meaningful connections, strategic partnerships, and new business prospects. 
                Expand your reach and unlock growth potential by tapping into our extensive network.</p> -->
            </div>
          </div>
        </article>

        <!--* Article 2 -->
        <article class="col-xl-4 d-flex flex-column align-items-center mb-5">
          <div class="card">
            <div class="card-body">
              <h5
                class="card-title ff-2 font-size-5 text-center mb-3 border-bottom"
              >
                Enhance Visibility and Promotion
              </h5>
              <p class="card-text lead">
                Propel your business to the forefront of Mercer County's
                thriving business community.
              </p>
              <p class="card-text lead">
                As a member, you'll receive exclusive:
              </p>
              <ul class="list-group list-group-flush mb-3">
                <li class="list-group-item ff-2">Marketing Opportunities</li>
                <li class="list-group-item ff-2">
                  Get Featured in Our Discover Mercer County Business Interviews
                </li>
                <li class="list-group-item ff-2">Increased Online Presence</li>
              </ul>
              <p class="card-text lead">
                Boost your brand's visibility and attract potential customers
                with Penn-Northwest's robust marketing channels.
              </p>
              <!-- <p class="card-text text-center">Propel your business to the forefront of Mercer County's thriving business community. 
                  As a member, you'll receive exclusive marketing opportunities, including featuring in our Discover Mercer County Business interviews, increased online presence through our dynamic website and social media platforms, and exposure to a wider audience.
                  Boost your brand's visibility and attract potential customers with Penn-Northwest's robust marketing channels.</p> -->
            </div>
          </div>
        </article>

        <!--* Article 3 -->
        <article class="col-xl-4 d-flex flex-column align-items-center mb-5">
          <div class="card">
            <div class="card-body">
              <h5
                class="card-title ff-2 font-size-5 text-center mb-3 border-bottom"
              >
                Access Resources and Support
              </h5>
              <p class="card-text lead">
                Benefit from a wide range of tailored services and valuable
                resources designed to meet the unique needs of your business.
              </p>
              <p class="card-text lead">As a member, you'll have access to:</p>
              <ul class="list-group list-group-flush mb-3">
                <li class="list-group-item ff-2">
                  Financial Assistance Programs
                </li>
                <li class="list-group-item ff-2">Educational Resources</li>
                <li class="list-group-item ff-2">
                  Workforce Development Initiatives
                </li>
              </ul>
              <p class="card-text lead">
                Whether you're seeking funding, guidance, or training,
                Penn-Northwest is here to support your business every step of
                the way.
              </p>
              <!-- <p class="card-text text-center">Benefit from a wide range of tailored services and valuable resources designed to meet the unique needs of your business. 
                As a member, you'll have access to 
                financial assistance programs, educational resources, and workforce development initiatives. 
                Whether you're seeking funding, guidance, or training, Penn-Northwest is here to support your business every step of the way.</p> -->
            </div>
          </div>
        </article>
      </section>
    </section>

    <!--! PDF Links -->
    <section class="container d-flex justify-content-evenly flex-wrap mb-5">
      <!-- PDF 1 -->
      <div class="card shadow mb-3 mb-md-0" style="width: 18rem">
        <a href="assets/pdf/PNDC-Membership-Application.pdf" target="_blank">
          <img
            crossorigin="anonymous"
            src="https://res.cloudinary.com/dypchgtip/image/upload/v1709865033/membership-application_zkbl53.png"
            class="card-img-top border"
            alt="Support Mercer County's Economic Growth - Join Penn-Northwest's Improvement Movement Team and contribute to making our community a better place to live, work, and play. Help us attract new businesses, create jobs, and ensure a prosperous future for all."
          />
        </a>
        <div class="card-body">
          <h5 class="card-title">Support Mercer County's Economic Growth</h5>
          <p class="card-text">
            Join Penn-Northwest's Improvement Movement Team and contribute to
            making our community a better place to live, work, and play. Help us
            attract new businesses, create jobs, and ensure a prosperous future
            for all.
          </p>
          <a
            href="assets/pdf/PNDC-Membership-Application.pdf"
            class="btn btn-primary"
            target="_blank"
            >Apply Today!</a
          >
        </div>
      </div>

      <!-- PDF 2 -->
      <div class="card shadow" style="width: 18rem">
        <a href="assets/pdf/membership-levels.pdf" target="_blank">
          <img
            crossorigin="anonymous"
            src="https://res.cloudinary.com/dypchgtip/image/upload/v1709864218/membership-levels-2_oqcrvn.png"
            class="card-img-top border"
            alt="Membership levels pdf image preview"
          />
        </a>
        <div class="card-body">
          <h5 class="card-title">Learn About Membership Levels</h5>
          <p class="card-text">
            Join Penn-Northwest's Drive for Progress and shape a thriving
            community for all. Together, we can attract new businesses, generate
            employment opportunities, and ensure a prosperous future. Make a
            difference in our hometown!
          </p>
          <a
            href="assets/pdf/membership-levels.pdf"
            class="btn btn-primary"
            target="_blank"
            >Learn More</a
          >
        </div>
      </div>
    </section>

    <!--* Begin Form Section! ---------------------------------------------------->
    <!--* Begin Form Section! -->
    <!--* Begin Form Section! -->
    <!--* Begin Form Section! -->
    <!--* Begin Form Section! -->
    <section id="signup" class="container mt-5 pt-5">
      <header class="mb-5">
        <h2 class="display-4">Apply for Membership</h2>
        <h2 class="display-4">Already a member? <a href="https://donate.giving.corecommerce.com/penn-northwest-membership-dues-25-26" class="text-decoration-underline" target="_blank">Click here to pay your dues online!</a></h2>
        <hr />
      </header>

      <section class="container">
        <form class="needs-validation" id="member-application-form" action="/membership" method="post" novalidate>
          <!--* Row 1 -->
          <section class="row">
            <!--? False -->
            <input class="d-none" type="text" name="honey" />

            <!--? Company Name -->
            <div class="mb-3 col-lg-3 col-md-6">
              <label for="companyName" class="form-label">Company Name</label>
              <input
                type="text"
                class="form-control"
                id="companyName"
                name="application[companyName]"
                placeholder="Company Name"
                required
              />
              <div class="valid-feedback">Looks good!</div>
              <div class="invalid-feedback">Please enter a company name.</div>
            </div>
            <!--? Website -->
            <div class="mb-3 col-lg-3 col-md-6">
              <label for="companyName" class="form-label">Website</label>
              <input
                type="text"
                class="form-control"
                id="website"
                name="application[website]"
                placeholder="website.com"
                required
              />
              <div class="valid-feedback">Looks good!</div>
              <div class="invalid-feedback">Please enter a website.</div>
            </div>
          </section>

          <!--* Row 2 -->
          <section class="row">
            <!--? Representative Name -->
            <div class="mb-3 col-lg-3 col-md-6">
              <label for="companyName" class="form-label">Representative</label>
              <input
                type="text"
                class="form-control"
                id="representative"
                name="application[representative]"
                placeholder="First Last"
                required
              />
              <div class="valid-feedback">Looks good!</div>
              <div class="invalid-feedback">Please enter a name.</div>
            </div>

            <!--? Email -->
            <div class="mb-3 col-lg-3 col-md-6">
              <label for="companyName" class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="application[email]"
                placeholder="john@smith.com"
                required
              />
              <div class="valid-feedback">Looks good!</div>
              <div class="invalid-feedback">Please enter a valid email.</div>
            </div>

            <!--? Phone Number -->
            <div class="mb-3 col-lg-3 col-md-6">
              <label for="companyName" class="form-label">Phone Number</label>
              <input
                type="tel"
                class="form-control"
                id="phone"
                name="application[phone]"
                placeholder="999-999-9999"
                pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                required
              />
              <div class="valid-feedback">Looks good!</div>
              <div class="invalid-feedback">Please enter a phone number in the format ###-###-####.</div>
            </div>
          </section>

          <!--* Row 3 -->
          <section class="row">
            <!--? Address  -->
            <div class="mb-3 col-lg-3 col-md-6">
              <label for="companyName" class="form-label">Address</label>
              <input
                type="text"
                class="form-control"
                id="address"
                name="application[address]"
                placeholder="123 Main St."
                required
              />
              <div class="valid-feedback">Looks good!</div>
              <div class="invalid-feedback">Please enter an address.</div>
            </div>

            <!--? City  -->
            <div class="mb-3 col-lg-3 col-md-6">
              <label for="companyName" class="form-label">City</label>
              <input
                type="text"
                class="form-control"
                id="city"
                name="application[city]"
                placeholder="Eg. Hermitage"
                required
              />
              <div class="valid-feedback">Looks good!</div>
              <div class="invalid-feedback">Please enter a city.</div>
            </div>

            <!--? State  -->
            <div class="mb-3 col-lg-3 col-md-6">
              <label for="state" class="form-label">State</label>
              <select
                id="state"
                class="form-select"
                aria-label="State Selector"
                name="application[state]"
                required
              >
                <option selected>-- Select State --</option>
                <option value="AL">Alabama</option>
                <option value="AK">Alaska</option>
                <option value="AZ">Arizona</option>
                <option value="AR">Arkansas</option>
                <option value="CA">California</option>
                <option value="CO">Colorado</option>
                <option value="CT">Connecticut</option>
                <option value="DE">Delaware</option>
                <option value="FL">Florida</option>
                <option value="GA">Georgia</option>
                <option value="HI">Hawaii</option>
                <option value="ID">Idaho</option>
                <option value="IL">Illinois</option>
                <option value="IN">Indiana</option>
                <option value="IA">Iowa</option>
                <option value="KS">Kansas</option>
                <option value="KY">Kentucky</option>
                <option value="LA">Louisiana</option>
                <option value="ME">Maine</option>
                <option value="MD">Maryland</option>
                <option value="MA">Massachusetts</option>
                <option value="MI">Michigan</option>
                <option value="MN">Minnesota</option>
                <option value="MS">Mississippi</option>
                <option value="MO">Missouri</option>
                <option value="MT">Montana</option>
                <option value="NE">Nebraska</option>
                <option value="NV">Nevada</option>
                <option value="NH">New Hampshire</option>
                <option value="NJ">New Jersey</option>
                <option value="NM">New Mexico</option>
                <option value="NY">New York</option>
                <option value="NC">North Carolina</option>
                <option value="ND">North Dakota</option>
                <option value="OH">Ohio</option>
                <option value="OK">Oklahoma</option>
                <option value="OR">Oregon</option>
                <option value="PA">Pennsylvania</option>
                <option value="RI">Rhode Island</option>
                <option value="SC">South Carolina</option>
                <option value="SD">South Dakota</option>
                <option value="TN">Tennessee</option>
                <option value="TX">Texas</option>
                <option value="UT">Utah</option>
                <option value="VT">Vermont</option>
                <option value="VA">Virginia</option>
                <option value="WA">Washington</option>
                <option value="WV">West Virginia</option>
                <option value="WI">Wisconsin</option>
                <option value="WY">Wyoming</option>
                <option value="AE">
                  ARMED FORCES AFRICA \ CANADA \ EUROPE \ MIDDLE EAST
                </option>
                <option value="AA">ARMED FORCES AMERICA (EXCEPT CANADA)</option>
                <option value="AP">ARMED FORCES PACIFIC</option>
              </select>
              <div class="valid-feedback">Looks good!</div>
              <div class="invalid-feedback">Please select a state.</div>
            </div>

            <!--? Zip Code -->
            <div class="mb-3 col-lg-3 col-md-6">
              <label for="companyName" class="form-label">Zip</label>
              <input
                type="text"
                class="form-control"
                id="zip"
                name="application[zip]"
                placeholder="12345"
                required
              />
              <div class="valid-feedback">Looks good!</div>
              <div class="invalid-feedback">Please enter a zip code.</div>
            </div>
          </section>

          <!--* Row 4 -->
          <section class="row">
            <!--? Company Type -->
            <div class="mb-3 col-lg-3 col-md-6">
              <label for="membershipRequest" class="form-label"
                >Company Type</label
              >
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="application[companyType]"
                  id="privateSector"
                  value="Private Sector"
                  required
                />
                <label class="form-check-label" for="flexRadioDefault1">
                  Private Sector
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="application[companyType]"
                  id="nonProfit"
                  value="Non-Profit/Charitable/Misc. Sector"
                  required
                />
                <label class="form-check-label" for="flexRadioDefault1">
                  Non-Profit/Charitable/Misc. Sector
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="application[companyType]"
                  id="publicSector"
                  value="Public Sector"
                  required
                />
                <label class="form-check-label" for="flexRadioDefault1">
                  Public Sector
                </label>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please select a company type.</div>
              </div>
            </div>
          </section>

          <!--* Row 5 -->
          <section class="row">
            <!--? Annual Contribution -->
            <div class="mb-3 col-lg-3 col-md-6">
              <label for="companyName" class="form-label"
                >Annual Contribution</label
              >
              <input
                type="text"
                class="form-control"
                id="annualContribution"
                name="application[annualContribution]"
                placeholder="Eg. $500"
                required
              />
              <div class="valid-feedback">Looks good!</div>
              <div class="invalid-feedback">Please enter an annual contribution.</div>
            </div>

            <!--? Submitted By -->
            <div class="mb-3 col-lg-3 col-md-6">
              <label for="companyName" class="form-label">Submitted By</label>
              <input
                type="text"
                class="form-control"
                id="submittedBy"
                name="application[submittedBy]"
                placeholder="John Smith"
                required
              />
              <div class="valid-feedback">Looks good!</div>
              <div class="invalid-feedback">Please enter your name.</div>
            </div>

            <!--? Title -->
            <div class="mb-3 col-lg-3 col-md-6">
              <label for="companyName" class="form-label">Title</label>
              <input
                type="text"
                class="form-control"
                id="submitterTitle"
                name="application[submitterTitle]"
                placeholder="Eg. CEO"
                required
              />
              <div class="valid-feedback">Looks good!</div>
              <div class="invalid-feedback">Please enter your title.</div>
            </div>
          </section>

          <!--* Row 6 -->
          <section class="row">
            <!--? Business Description -->
            <div class="mb-3">
              <label for="descriptionOfBusiness" class="form-label">
                Please give a brief description of business activity:
              </label>
              <textarea
                class="form-control"
                id="descriptionOfBusiness"
                name="application[descriptionOfBusiness]"
                rows="3"
                required
              ></textarea>
              <div class="valid-feedback">Looks good!</div>
              <div class="invalid-feedback">Please describe your business.</div>
            </div>
          </section>

          <!--* Row 7 -->
          <section class="row">
            <!--? Affiliations -->
            <div class="mb-3">
              <label for="affiliations" class="form-label">
                List current affiliations, if any, with economic development
                organizations, industrial development corporations,
                redevelopment authorities, and planning commissioners:
              </label>
              <textarea
                class="form-control"
                id="affiliations"
                name="application[affiliations]"
                rows="3"
                required
              ></textarea>
              <div class="valid-feedback">Looks good!</div>
              <div class="invalid-feedback">Please enter your affiliations or enter N/A if none.</div>
            </div>
          </section>
 
          <!--? reCaptcha -->
          <!-- TODO Remove captcha -->
          <!-- <div class="g-recaptcha" data-sitekey="<%= process.env.RECAPTCHA_FRONTEND_KEY %>" data-callback="onSubmit"></div> -->

          <button
            type="submit"
            class="btn btn-lg btn-primary mb-5 mt-3"
          >
            Submit
          </button>
        </form>
      </section>
    </section>

    <!--* Start Members List Section -->
    <!-- This programmatically generates the list of members from a general members collection call to the DB -->
    <!-- The # members displayed per section is for optimal responsive sizing -->
    <!-- If member.href is truthy , render <a></a>. Else render only member.name <p></p> -->
    <section id="member-list" class="mt-5">
      <h2 class="display-3 mb-5 text-center border-bottom">Our Members</h2>

      <% if (user && user.role === 'admin') {%>
        <!--* This form is for ADMINS ONLY to add new members. -->
        <form class="my-5 d-flex flex-column align-items-center" action="/membership/post-new-member" method="post">
          <header class="mb-3">
            <h2 class="display-6 text-center text-decoration-underline">Add New Member</h2>
          </header>

          <div class="row">
            <div class="mb-3">
              <label for="member-name-input" class="form-label">Member Name:</label>
              <input name="newMember[name]" type="text" class="form-control" id="member-name-input" aria-describedby="memberName" required>
              <div id="emailHelp" class="form-text">This form is only viewable to Admins</div>
            </div>
            <div class="mb-3">
              <label for="website-link" class="form-label">Website Link</label>
              <input name="newMember[href]" type="text" class="form-control" id="website-link" placeholder="Leave Blank if N/A">
            </div>  
          </div>

          <button class="btn btn-primary" type="submit">Add</button>
        </form>
      <% } %>
       

      <section class="row">
        <!--* Picture/Members Row 1 ------------------------------------------------------->
        <div class="col-lg-6 mb-5">
          <img
            crossorigin="anonymous"
            class="img-fluid rounded shadow-lg border border-warning"
            src="https://res.cloudinary.com/dypchgtip/image/upload/v1708659276/0001_zvonkg.jpg"
            alt="We Love Mercer County Photo"
            title="Mercer County Pennsylvania - a lovely place to live and work"
            
          />
        </div>
        <% if (members.length > 0) {%>

          <div class="col-lg-3 container">
            <% for (let i = 0; i < 10; i++) {%> 
              <% if (members[i].href) {%>
                <div class="position-relative">
                  <p class="">
                    <a
                      class="text-decoration-underline"
                      href="<%= members[i].href %>"
                      target="_blank"
                      ><%= members[i].name %></a
                    >
                  </p>
                  <% if (user && user.role === 'admin') {%> 
                    <form class="position-absolute top-0 end-0 delete-document-form" action="/membership/post-new-member/<%= members[i]._id %>?_method=DELETE" method="post">- <button class="btn btn-danger btn-sm delete-document-button" style="--bs-btn-padding-y: .2rem; --bs-btn-padding-x: .4rem; --bs-btn-font-size: .65rem;" type="submit">Delete</button></form>
                  <% } %>
                </div>
              <% } else {%>
                <div class="position-relative">
                  <p><%= members[i].name %></p>
                  <% if (user && user.role === 'admin') {%> 
                    <form class="position-absolute top-0 end-0 delete-document-form" action="/membership/post-new-member/<%= members[i]._id %>?_method=DELETE" method="post">- <button class="btn btn-danger btn-sm delete-document-button" style="--bs-btn-padding-y: .2rem; --bs-btn-padding-x: .4rem; --bs-btn-font-size: .65rem;" type="submit">Delete</button></form>
                  <% } %>
                </div>
            <% } %> <% } %>
          </div>
          <div class="col-lg-3 container">
            <% for (let i = 11; i < 21; i++) {%> 
              <% if (members[i].href) {%>
                <div class="position-relative">
                  <p>
                    <a
                      class="text-decoration-underline"
                      href="<%= members[i].href %>"
                      target="_blank"
                      ><%= members[i].name %></a
                    >
                  </p>
                  <% if (user && user.role === 'admin') {%> 
                    <form class="position-absolute top-0 end-0 delete-document-form" action="/membership/post-new-member/<%= members[i]._id %>?_method=DELETE" method="post">- <button class="btn btn-danger btn-sm delete-document-button" style="--bs-btn-padding-y: .2rem; --bs-btn-padding-x: .4rem; --bs-btn-font-size: .65rem;" type="submit">Delete</button></form>
                  <% } %>
                </div>
              <% } else {%>
                <div class="position-relative">
                  <p><%= members[i].name %></p>
                  <% if (user && user.role === 'admin') {%> 
                    <form class="position-absolute top-0 end-0 delete-document-form" action="/membership/post-new-member/<%= members[i]._id %>?_method=DELETE" method="post">- <button class="btn btn-danger btn-sm delete-document-button" style="--bs-btn-padding-y: .2rem; --bs-btn-padding-x: .4rem; --bs-btn-font-size: .65rem;" type="submit">Delete</button></form>
                  <% } %>
                </div>
            <% } %> <% } %>
          </div>
        <% } else if (!members) {%>
          <div class="col-lg-6 container"><p class="lead">Error: Database Lookup for Members Failed</p></div>
        <% } else {%>
            <div class="col-lg-6 container"><p class="lead text-center">No Members in Database</p></div>
        <% } %>
        <!--* ----------------------------->

        <!--* Picture/Members Row 2 ------------------------------------------------------->
        <% if (members.length > 0) {%>
          <div class="col-lg-3 container">
            <% for (let i = 22; i < 33; i++) {%> 
              <% if (members[i].href) {%>
                <div class="position-relative">
                  <p>
                    <a
                      class="text-decoration-underline"
                      href="<%= members[i].href %>"
                      target="_blank"
                      ><%= members[i].name %></a
                    >
                  </p>
                  <% if (user && user.role === 'admin') {%> 
                    <form class="position-absolute top-0 end-0 delete-document-form" action="/membership/post-new-member/<%= members[i]._id %>?_method=DELETE" method="post">- <button class="btn btn-danger btn-sm delete-document-button" style="--bs-btn-padding-y: .2rem; --bs-btn-padding-x: .4rem; --bs-btn-font-size: .65rem;" type="submit">Delete</button></form>
                  <% } %>
                </div>            
              <% } else {%>
                <div class="position-relative">
                  <p><%= members[i].name %></p>
                  <% if (user && user.role === 'admin') {%> 
                    <form class="position-absolute top-0 end-0 delete-document-form" action="/membership/post-new-member/<%= members[i]._id %>?_method=DELETE" method="post">- <button class="btn btn-danger btn-sm delete-document-button" style="--bs-btn-padding-y: .2rem; --bs-btn-padding-x: .4rem; --bs-btn-font-size: .65rem;" type="submit">Delete</button></form>
                  <% } %>
                </div>
              <% } %> <% } %>
          </div>
          <div class="col-lg-3 container">
            <% for (let i = 34; i < 45; i++) {%> 
              <% if (members[i].href) {%>
                <div class="position-relative">
                  <p>
                    <a
                      class="text-decoration-underline"
                      href="<%= members[i].href %>"
                      target="_blank"
                      ><%= members[i].name %></a
                    >
                  </p>
                  <% if (user && user.role === 'admin') {%> 
                    <form class="position-absolute top-0 end-0 delete-document-form" action="/membership/post-new-member/<%= members[i]._id %>?_method=DELETE" method="post">- <button class="btn btn-danger btn-sm delete-document-button" style="--bs-btn-padding-y: .2rem; --bs-btn-padding-x: .4rem; --bs-btn-font-size: .65rem;" type="submit">Delete</button></form>
                  <% } %>
                </div>
              <% } else {%>
                <div class="position-relative">
                  <p><%= members[i].name %></p>
                  <% if (user && user.role === 'admin') {%> 
                    <form class="position-absolute top-0 end-0 delete-document-form" action="/membership/post-new-member/<%= members[i]._id %>?_method=DELETE" method="post">- <button class="btn btn-danger btn-sm delete-document-button" style="--bs-btn-padding-y: .2rem; --bs-btn-padding-x: .4rem; --bs-btn-font-size: .65rem;" type="submit">Delete</button></form>
                  <% } %>
                </div>
              <% } %> <% } %>
          </div>
        <% } else if (!members) {%>
          <div class="col-lg-6 container"><p class="lead">Error: Database Lookup for Members Failed</p></div>
        <% } else {%>
          <div class="col-lg-6 container"><p class="lead">No Members in Database</p></div>
        <% } %>
        <div class="col-lg-6 mb-5">
          <img
            crossorigin="anonymous"
            class="img-fluid rounded shadow-lg border border-primary"
            src="https://res.cloudinary.com/dypchgtip/image/upload/v1708659276/quote-joy-cone_qmajwo.jpg"
            alt="President of Joy Cone quote photo"
            title="David George - President of Joy Cone on the benefits of PNDC"
          />
        </div>
        <!--* -------------------------- -->

        <!--* Picture/Members Row 3 ------------------------------------------------------->
        <div class="col-lg-6 mb-5">
          <!-- <img
            crossorigin="anonymous"
            class="img-fluid rounded shadow-lg border"
            src="https://res.cloudinary.com/dypchgtip/image/upload/v1709865436/Rod-with-board-chairs_ecsqzx.jpg"
            alt=""
            srcset=""
          /> -->
          <img
            crossorigin="anonymous"
            class="img-fluid rounded shadow-lg border border-warning"
            src="https://res.cloudinary.com/dypchgtip/image/upload/v1710290857/Econ-summit-panelists_s77org.jpg"
            alt="Economic panelists summit photograph"
            title="Mercer County Economy Summit"
          />
        </div>

        <% if (members.length > 0) {%>
          <div class="col-lg-3 container">
            <% for (let i = 46; i < 57; i++) {%> 
              <% if (members[i].href) {%>
                <div class="position-relative">
                  <p>
                    <a
                      class="text-decoration-underline"
                      href="<%= members[i].href %>"
                      target="_blank"
                      ><%= members[i].name %></a
                    >
                  </p>
                  <% if (user && user.role === 'admin') {%> 
                    <form class="position-absolute top-0 end-0 delete-document-form" action="/membership/post-new-member/<%= members[i]._id %>?_method=DELETE" method="post">- <button class="btn btn-danger btn-sm delete-document-button" style="--bs-btn-padding-y: .2rem; --bs-btn-padding-x: .4rem; --bs-btn-font-size: .65rem;" type="submit">Delete</button></form>
                  <% } %>
                </div>
              <% } else {%>
                <div class="position-relative">
                  <p><%= members[i].name %></p>
                  <% if (user && user.role === 'admin') {%> 
                    <form class="position-absolute top-0 end-0 delete-document-form" action="/membership/post-new-member/<%= members[i]._id %>?_method=DELETE" method="post">- <button class="btn btn-danger btn-sm delete-document-button" style="--bs-btn-padding-y: .2rem; --bs-btn-padding-x: .4rem; --bs-btn-font-size: .65rem;" type="submit">Delete</button></form>
                  <% } %>
                </div>
              <% } %> <% } %>
          </div>
          <div class="col-lg-3 container">
            <% for (let i = 58; i < 69; i++) {%> 
              <% if (members[i].href) {%>
                <div class="position-relative">
                  <p>
                    <a
                      class="text-decoration-underline"
                      href="<%= members[i].href %>"
                      target="_blank"
                      ><%= members[i].name %></a
                    >
                  </p>
                  <% if (user && user.role === 'admin') {%> 
                    <form class="position-absolute top-0 end-0 delete-document-form" action="/membership/post-new-member/<%= members[i]._id %>?_method=DELETE" method="post">- <button class="btn btn-danger btn-sm delete-document-button" style="--bs-btn-padding-y: .2rem; --bs-btn-padding-x: .4rem; --bs-btn-font-size: .65rem;" type="submit">Delete</button></form>
                  <% } %>
                </div>
              <% } else {%>
                <div class="position-relative">
                  <p><%= members[i].name %></p>
                  <% if (user && user.role === 'admin') {%> 
                    <form class="position-absolute top-0 end-0 delete-document-form" action="/membership/post-new-member/<%= members[i]._id %>?_method=DELETE" method="post">- <button class="btn btn-danger btn-sm delete-document-button" style="--bs-btn-padding-y: .2rem; --bs-btn-padding-x: .4rem; --bs-btn-font-size: .65rem;" type="submit">Delete</button></form>
                  <% } %>
                </div>
              <% } %> <% } %>
          </div>
        <% } else if (!members) {%>
          <div class="col-lg-6 container"><p class="lead">Error: Database Lookup for Members Failed</p></div>
        <% } else {%>
          <div class="col-lg-6 container"><p class="lead">No Members in Database</p></div>
        <% } %>
        <!--* -------------------------- -->

        <!--* Picture/Members Row 4 ------------------------------------------------------->
        <% if (members.length > 0) {%>

          <div class="col-lg-3 container">
            <% for (let i = 70; i < 81; i++) {%> 
              <% if (members[i].href) {%>
                <div class="position-relative">
                  <p>
                    <a
                      class="text-decoration-underline"
                      href="<%= members[i].href %>"
                      target="_blank"
                      ><%= members[i].name %></a
                    >
                  </p>
                  <% if (user && user.role === 'admin') {%> 
                    <form class="position-absolute top-0 end-0 delete-document-form" action="/membership/post-new-member/<%= members[i]._id %>?_method=DELETE" method="post">- <button class="btn btn-danger btn-sm delete-document-button" style="--bs-btn-padding-y: .2rem; --bs-btn-padding-x: .4rem; --bs-btn-font-size: .65rem;" type="submit">Delete</button></form>
                  <% } %>
                </div>
              <% } else {%>
                <div class="position-relative">
                  <p><%= members[i].name %></p>
                  <% if (user && user.role === 'admin') {%> 
                    <form class="position-absolute top-0 end-0 delete-document-form" action="/membership/post-new-member/<%= members[i]._id %>?_method=DELETE" method="post">- <button class="btn btn-danger btn-sm delete-document-button" style="--bs-btn-padding-y: .2rem; --bs-btn-padding-x: .4rem; --bs-btn-font-size: .65rem;" type="submit">Delete</button></form>
                  <% } %>
                </div>
            <% } %> <% } %>
          </div>
          <div class="col-lg-3 container">
            <% for (let i = 82; i < 93; i++) {%> 
              <% if (members[i].href) {%>
                <div class="position-relative">
                  <p>
                    <a
                      class="text-decoration-underline"
                      href="<%= members[i].href %>"
                      target="_blank"
                      ><%= members[i].name %></a
                    >
                  </p>
                  <% if (user && user.role === 'admin') {%> 
                    <form class="position-absolute top-0 end-0 delete-document-form" action="/membership/post-new-member/<%= members[i]._id %>?_method=DELETE" method="post">- <button class="btn btn-danger btn-sm delete-document-button" style="--bs-btn-padding-y: .2rem; --bs-btn-padding-x: .4rem; --bs-btn-font-size: .65rem;" type="submit">Delete</button></form>
                  <% } %>
                </div>
              <% } else {%>
                <div class="position-relative">
                  <p><%= members[i].name %></p>
                  <% if (user && user.role === 'admin') {%> 
                    <form class="position-absolute top-0 end-0 delete-document-form" action="/membership/post-new-member/<%= members[i]._id %>?_method=DELETE" method="post">- <button class="btn btn-danger btn-sm delete-document-button" style="--bs-btn-padding-y: .2rem; --bs-btn-padding-x: .4rem; --bs-btn-font-size: .65rem;" type="submit">Delete</button></form>
                  <% } %>
                </div>
              <% } %> <% } %>
          </div>
        <% } else if (!members) {%>
          <div class="col-lg-6 container"><p class="lead">Error: Database Lookup for Members Failed</p></div>
        <% } else {%>
          <div class="col-lg-6 container"><p class="lead">No Members in Database</p></div>
        <% } %>
        <div class="col-lg-6 mb-5">
          <img
            crossorigin="anonymous"
            class="img-fluid rounded shadow-lg border border-primary"
            src="https://res.cloudinary.com/dypchgtip/image/upload/v1708658588/pndc-business-services_sjebpa.jpg"
            alt="PNDC Business Services available photo"
            title="PNDC Business Services"
          />
        </div>
        <!--* -------------------------------------------------------------------------------------- -->

        <!--* Start Final Row (No Pictures) ----------------------------------------------------------->
        <!-- Header -->
        <div class="col-lg-12 text-center mb-5">
          <header>
            <h3 class="display-5">And Many More...</h3>
          </header>
        </div>

        <% if (members.length === 0) {%>
          <div class="col-12"><h3 class="display-5 text-center">No Members Found in Database</h3></div>
        <% } else if (!members) {%>
          <div class="col-12"><h3 class="display-5 text-center">Database Lookup Failed</h3></div>
        <% } else { %>
          <!--? Begin Final Members List -->
          <!-- These define the starting/ending indexes of the final members list, ensuring that the two lists are even in number of members displayed -->
          <% const remaining = (members.length - 1) - 93; %> 
          <% const leftMostFinalIndex = 94 + Math.floor(remaining / 2) %>
  
          <!-- Print members to the page: -->
          <div class="col-lg-3 offset-lg-2 mb-3">
            <% for (let i = 94; i < leftMostFinalIndex; i++) {%> 
            <% if (members[i].href) {%>
              <div class="position-relative">
                <p>
                  <a
                    class="text-decoration-underline"
                    href="<%= members[i].href %>"
                    target="_blank"
                    ><%= members[i].name %></a
                  >
                </p>
                <% if (user && user.role === 'admin') {%> 
                  <form class="position-absolute top-0 end-0 delete-document-form" action="/membership/post-new-member/<%= members[i]._id %>?_method=DELETE" method="post">- <button class="btn btn-danger btn-sm delete-document-button" style="--bs-btn-padding-y: .2rem; --bs-btn-padding-x: .4rem; --bs-btn-font-size: .65rem;" type="submit">Delete</button></form>
                <% } %>
              </div>
            <% } else {%>
              <div class="position-relative">
                <p><%= members[i].name %></p>
                <% if (user && user.role === 'admin') {%> 
                  <form class="position-absolute top-0 end-0 delete-document-form" action="/membership/post-new-member/<%= members[i]._id %>?_method=DELETE" method="post">- <button class="btn btn-danger btn-sm delete-document-button" style="--bs-btn-padding-y: .2rem; --bs-btn-padding-x: .4rem; --bs-btn-font-size: .65rem;" type="submit">Delete</button></form>
                <% } %>
              </div>
            <% } %> <% }%>
          </div>
  
          <div class="col-lg-3 offset-lg-2 mb-3">
            <% for (let i = leftMostFinalIndex; i < members.length; i++) {%> 
            <% if (members[i].href) {%>
              <div class="position-relative">
                <p>
                  <a
                    class="text-decoration-underline"
                    href="<%= members[i].href %>"
                    target="_blank"
                    ><%= members[i].name %></a
                  >
                </p>
                <% if (user && user.role === 'admin') {%> 
                  <form class="position-absolute top-0 end-0 delete-document-form" action="/membership/post-new-member/<%= members[i]._id %>?_method=DELETE" method="post">- <button class="btn btn-danger btn-sm delete-document-button" style="--bs-btn-padding-y: .2rem; --bs-btn-padding-x: .4rem; --bs-btn-font-size: .65rem;" type="submit">Delete</button></form>
                <% } %>
              </div>
            <% } else {%>
              <div class="position-relative">
                <p><%= members[i].name %></p>
                <% if (user && user.role === 'admin') {%> 
                  <form class="position-absolute top-0 end-0 delete-document-form" action="/membership/post-new-member/<%= members[i]._id %>?_method=DELETE" method="post">- <button class="btn btn-danger btn-sm delete-document-button" style="--bs-btn-padding-y: .2rem; --bs-btn-padding-x: .4rem; --bs-btn-font-size: .65rem;" type="submit">Delete</button></form>
                <% } %>
              </div>
            <% } %> <% } %>
          </div>
        <% } %>
      </section>
    </section>

    <!--? Lands' End Store -->
    <section class="w-100 my-5 pb-3 row px-5 border-top py-5">
      <div class="col-lg-6">
        <h2 class="display-3">Before You Go,</h2>
        <h3 class="display-5">Checkout Our Storefront!</h3>
        <p class="lead max-text-width">
          Explore our online storefront for a wide range of quality products.
          Discover exclusive deals, enjoy easy navigation, and experience secure
          shopping from the comfort of your home.
        </p>
      </div>
      <div class="col-lg-6 d-flex flex-column align-items-center">
        <a href="https://business.landsend.com/store/pndc/" target="_blank">
          <img
            class="img-fluid"
            src="https://res.cloudinary.com/dypchgtip/image/upload/v1709867137/lands-end-business-logo_qsqjow.png"
            crossorigin="anonymous"
            alt="Lands End Business Storefront Logo Image and Link"
          />
        </a>
        <a href="https://business.landsend.com/store/pndc/" target="_blank"
          ><button class="btn btn-outline-primary btn-lg">Open Store</button></a
        >
      </div>
    </section>
    <p class="text-end"><small>Header Photo Credit: <a href="https://workwithclever.com/" class="text-decoration-underline" target="_blank">Clever Marketing</a> & <a href="https://www.sharonherald.com/" class="text-decoration-underline" target="_blank">Sharon Herald</a></small></p>
  </main>
</section>


<script src="/js/formValidation.js"></script>
<script src="/js/membership/manualCaptchaValidation.js"></script>
<script src="/js/membership/headerLinks.js"></script>
<script src="/js/scrollin.js"></script>
<script src="/js/deleteDocumentConfirmation.js"></script>


